html{
    height: 100%;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
}

#realbody{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('wallpaper.jpg') no-repeat;
    background-size: cover;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

#account{
    position: relative;
}
#account>img{
    border-radius: 50%;
    width: 60%;
}
#account>img:hover{
    filter: invert(100%);
    transition: 0.5s;
}

#bg{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    z-index:1;
    filter: blur(10px);
    opacity: 0;
}

#pin input{
    opacity: 0.6;
    width: 90%;
    font-size: 16px;
    padding: 4px;
    outline: none;
}

/* loading animation */

